nav {
  border-bottom: 1px solid var(--aux-color);
}

ul.navbarMenu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  gap: 1em;
}

ul.navbarMenu li.navbarMenuItem a {
  text-decoration: none;
}
